
.instructions__nav:last-of-type{
	box-shadow: none;

}

main{
	overflow-x: hidden;
}
.viewport{
	grid-template-columns: minmax(100%, var(--sidebar-large-w)) 100%;
	grid-auto-rows: 100%;
	// transform: translateX(-100%);
}

.instructions__nav--max{
	display: flex;
	background-color: #333;
	box-shadow: none;
	position: absolute;
	width: 100%;
	bottom: 0;
}

