<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn offline coding by doing</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}/fontawesome/css/all.css">
    <link rel="icon" href="{{.Site.BaseURL}}/img/locdfavicon.png" type="image/x-icon">


    <!--START EDITOR LINKS-->

    <link rel="stylesheet" href="{{.Site.BaseURL}}/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="{{.Site.BaseURL}}/codemirror/theme/mdn-like.css">
	<link rel="stylesheet" href="{{.Site.BaseURL}}/codemirror/addon/hint/show-hint.css">

    <!--Start JS screen and editor.-->
    <script src="{{.Site.BaseURL}}/js/setup.js"></script>

    <!-- <script src="codemirror/mode/xml/xml.js"></script> -->
    <script src="{{.Site.BaseURL}}/codemirror/lib/codemirror.js"></script>
    <script src="{{.Site.BaseURL}}/codemirror/mode/javascript/javascript.js"></script>
    <script src="{{.Site.BaseURL}}/codemirror/mode/css/css.js"></script>
    <script src="{{.Site.BaseURL}}/codemirror/mode/xml/xml.js"></script>
	<script src="{{.Site.BaseURL}}/codemirror/mode/htmlmixed/htmlmixed.js"></script>

	<script src="{{.Site.BaseURL}}/codemirror/addon/hint/show-hint.js"></script>
	<script src="{{.Site.BaseURL}}/codemirror/addon/hint/xml-hint.js"></script>
	<script src="{{.Site.BaseURL}}/codemirror/addon/hint/html-hint.js"></script>
	

    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/main.css">
    
    
</head>
<body>

    
	
<header>
    <nav class="nav">
        <a href="#" class="nav__logo"></a>

        <ul class="nav__menu">
            <li>
                <a href="#">Practice</a>
            </li>
            <li>
                <a href="#">Documentation</a>
            </li>
            <li>
                <a href="#">Help</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
        </ul>
    </nav>
</header>
<div class="nav__backlayer"></div>

<main>
	
    <div id="viewport" class="viewport">
        <div class="instructions">
            <nav class="instructions__nav">
                <a href="{{with .Site.Pages.Prev . }}{{.RelPermalink}}{{end}}"><i class="fas fa-arrow-left"></i></a>
                <div class="instructions__dropdown">
                    <i class="fas fa-bars"></i> {{.Title}}
                    <select class = "lesson__options">
                        {{ range sort (.Params.content) "order" }}
                            {{ $page := $.Site.GetPage .name }}
                            <optgroup label = "{{ $page.Title }}"></optgroup>
                            
                            {{range $index, $element := $page.Pages}}
                            <option label={{$page.Title}}></option>
                            {{ $index :=add $index 1 }}
                                <option label="{{$index}} - {{.Title}}" value = "{{.Permalink}}"></option>
                            {{end}}
                        {{ end }}
						<!-- {{range .Sections}}
							<optgroup label = "{{.Section}}"></optgroup>
							
                            {{range $index, $element := .Pages}}
                                {{ $index :=add $index 1 }}
                                <option label="{{$index}} - {{.Title}}"></option>
                            {{end}}
                            
						{{end}} -->
                    </select>
                </div>
                <a href="{{with .Site.Pages.Next . }}{{.RelPermalink}}{{end}}"><i class="fas fa-arrow-right"></i></a>
            </nav>

            <div id="insertData" class="instructions__info">

                <div id="max"class="resize max"><i class="fas fa-arrows-alt"></i></div>
                <div id="min"class="resize min"><i class="fas fa-compress-arrows-alt"></i></div>
                {{range .Data.Pages}}
                    {{.Title}}
                {{end}}
                <!--START INSERT DATA-->
				{{.Content}}
				<!--END iNSERT DATA-->

				
				
				
                <nav class="instructions__nav instructions__nav--bottom">
                    <a href="#"><i class="fas fa-arrow-left"></i>Previous</a>
                    
                    <a href="#">Next <i class="fas fa-arrow-right"></i></a>
                </nav>

            </div>

        </div>
        <div class="editor">
            <!--^^^^^^^^^^^^EDITOR^^^^^^^^^^^^-->
            <div class="editor__input">
                <div id="inputTab" class="input__tab">
                    <div id="htmlView" class="tab tab--selected">index.html</div>
                    <div id="cssView" class="tab">style.css</div>
                    <div id="jsView" class="tab">script.js</div>
                </div>
                <div class="input__container">
                <!-- BELOW IS TEMPORARY-->
                <div id="textareacontainer">
                    <div class="textarea">
                        <div id="textareawrapper">
                            <textarea autocomplete="off" id="textareaCode" wrap="logical" spellcheck="false">
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<ul>
    <li>
        And this
    </li>
    <li>
        a list
    </li>
</ul>
        
</body>
</html>
                            </textarea>
                        </div>
                    </div>
                </div>
                <!-- ABOVE IS TEMPORARY-->
                </div>
            </div>

            <div class="editor__output">
                <div class="output__tab">
                    <div class="tab tab--selected">Result</div>
                    <div class="tab">Console</div>
                </div>
                <div class="input__container">

                    <div id="iframecontainer">
                        <div id="iframe">
                            <div id="iframewrapper">
                                 <iframe frameborder="0" id="iframeResult" name="iframeResult" allowfullscreen="true"></iframe>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</main>

<script>
    const select = document.querySelector(".lesson__options");
    const options = document.querySelectorAll(".less__options option");
    
    // 1
    select.addEventListener("change", function() {
    const url = this.options[this.selectedIndex].value;
        if(url) {
            location.href = url;
        }
    });
    
    // 2
    for(const option of options) {
    const url = option.dataset.url;
    if(location.href.includes(url)) {
        option.setAttribute("selected", "");
        break;
    }
    }
</script>
    
<script src="{{.Site.BaseURL}}/js/codeMirror.js"></script>
<script src="{{.Site.BaseURL}}/js/editor.js"></script>
<script src="{{.Site.BaseURL}}/js/script.js"></script>
<script src="{{.Site.BaseURL}}/js/sticky.js"></script>
</body>
</html>