<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn offline coding by doing</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}/fontawesome/css/all.css">
	<link rel="icon" href="{{.Site.BaseURL}}/img/locdfavicon.png" type="image/x-icon">
	
	<script src="{{.Site.BaseURL}}/js/setup.js"></script>


    <!--START EDITOR LINKS-->

    <link rel="stylesheet" href="{{.Site.BaseURL}}/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="{{.Site.BaseURL}}/codemirror/theme/locd-dark.css">
	<link rel="stylesheet" href="{{.Site.BaseURL}}/codemirror/addon/hint/show-hint.css">

    <!-- <script src="codemirror/mode/xml/xml.js"></script> -->
    <script src="{{.Site.BaseURL}}/codemirror/lib/codemirror.js"></script>
    <script src="{{.Site.BaseURL}}/codemirror/mode/javascript/javascript.js"></script>
    <script src="{{.Site.BaseURL}}/codemirror/mode/css/css.js"></script>
    <script src="{{.Site.BaseURL}}/codemirror/mode/xml/xml.js"></script>
	<script src="{{.Site.BaseURL}}/codemirror/mode/htmlmixed/htmlmixed.js"></script>

	<script src="{{.Site.BaseURL}}/codemirror/addon/hint/show-hint.js"></script>
	<script src="{{.Site.BaseURL}}/codemirror/addon/hint/xml-hint.js"></script>
	<script src="{{.Site.BaseURL}}/codemirror/addon/hint/html-hint.js"></script>
	<script src="{{.Site.BaseURL}}/js/split.js"></script>
	

	<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/main.css">
	<link id="maxViewer" href="{{.Site.BaseURL}}/css/max-screen.css" rel="stylesheet">

	<link media="(max-width: 1000px)" href="{{.Site.BaseURL}}/css/max-screen.css" rel="stylesheet">
	<link media="(max-width: 1000px)" href="{{.Site.BaseURL}}/css/small-screen.css" rel="stylesheet">
	   
</head>
<body>

    
	
<header>
    <nav class="nav">
        <a href="/" class="nav__logo"></a>

        <ul class="nav__menu">
            <li>
                <a href="#">Practice</a>
            </li>
            <li>
                <a href="#">Documentation</a>
            </li>
            <li>
                <a href="#">Help</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
        </ul>
    </nav>
</header>
<div class="nav__backlayer"></div>

{{ $content_parts := split .Content "<p>||</p>" }}


<main>
	<nav id="instructionNavMax" class="instructions__nav instructions__nav--max instructions__nav--top">
		<div class="nav__wrapper">
			<a class="prev" href=""><i class="fas fa-arrow-left"></i></a>
			<div class="view-navigation">
				<button id="instructionsButton">Instructions</button>
				<button id="editorButton">Editor</button>
			</div>
			<a class="next" href=""><i class="fas fa-arrow-right"></i></a>
		</div>
	</nav>
	
    <div id="viewport" class="viewport">
        <div class="instructions">
            <nav class="instructions__nav">
				<div class="nav__wrapper">
					<a class="prev" href=""><i class="fas fa-arrow-left"></i></a>
					<div class="dropdown">
						<button class="dropdown__btn"><i class="fas fa-bars"></i> {{.Title}}</button>
						<div id="dropdownList" class="dropdown__list">
							<ul>
								<li class="drop__chapter">0 - Start </li>
								<li><a class="drop__exercise"  href="{{.Site.Home.Permalink}}index.html">{{.Site.Home.Title}}</a></li>
								{{ partial "dropdown" (dict "path" .Site.Data.exercises.general "type" "general" "title" .Title)}}
								{{ partial "dropdown" (dict "path" .Site.Data.exercises.html "type" "html" "title" .Title)}}
							</ul>
						</div>
					</div>
					<a class="next" href=""><i class="fas fa-arrow-right"></i></a>
				</div>
            </nav>

            <div id="insertData" class="instructions__info">

                <div id="max"class="resize max"><i class="fas fa-arrows-alt"></i></div>
                <div id="min"class="resize min"><i class="fas fa-compress-arrows-alt"></i></div>
                

				<!--START INSERT DATA-->
				{{ index $content_parts 0 | safe.HTML }}
                <!--END iNSERT DATA-->
				
            </div>
			
			<nav id="instructionNavMin" class="instructions__nav instructions__nav--max instructions__nav--top">
				<div class="nav__wrapper">
					<a class="prev" href=""><i class="fas fa-arrow-left"></i></a>
					<a class="next" href=""><i class="fas fa-arrow-right"></i></a>
				</div>
			</nav>

		</div>
		<div class="editor">
            <!--^^^^^^^^^^^^EDITOR^^^^^^^^^^^^-->
            <div class="editor__input">
                <div id="inputTab" class="input__tab">
                    <div id="htmlView" class="tab tab--selected">index.html</div>
                    <div id="cssView" class="tab">style.css</div>
                    <div id="jsView" class="tab">script.js</div>
                </div>
                <div class="input__container">
                <!-- BELOW IS TEMPORARY-->
                <div id="textareacontainer">
                    <div class="textarea">
                        <div id="textareawrapper">
                            <textarea autocomplete="off" id="textareaCode" wrap="logical" spellcheck="false">{{  index $content_parts 1 | safe.HTML }}</textarea>
                        </div>
                    </div>
                </div>
                <!-- ABOVE IS TEMPORARY-->
                </div>
            </div>

            <div class="editor__output">
                <div class="output__tab">
                    <div class="tab tab--selected">Result</div>
                    <div class="tab">Console</div>
                </div>
                <div class="input__container">

                    <div id="iframecontainer">
                        <div id="iframe">
                            <div id="iframewrapper">
                                 <iframe frameborder="0" id="iframeResult" name="iframeResult" allowfullscreen="true"></iframe>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </div>
</main>

    
<script src="{{.Site.BaseURL}}/js/codeMirror.js"></script>
<script src="{{.Site.BaseURL}}/js/editor.js"></script>
<script src="{{.Site.BaseURL}}/js/script.js"></script>
<script src="{{.Site.BaseURL}}/js/sticky.js"></script>
<script src="{{.Site.BaseURL}}/js/navigation.js"></script>
</body>
</html>