//All styles for the editor
.editor {
  height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;

  &__input,
  &__output {
    height: 50%;
  }
}

.input,
.output {
  &__tab {
    background-color: rgb(243, 243, 243);
    display: flex;
    overflow: hidden;
    height: 6rem;
    border-bottom:0px solid $color-primary;
  }

  &__container {
    height: calc(100% - 6rem);
  }
}

.tab {
  padding: 2rem 20px 1rem 20px;
  font-size: 1.4rem;
  border-right: 1px solid rgba(236, 236, 236, 0.979);
  border-bottom: solid 1px rgba(236, 236, 236, 0.979);
  width: 12rem;
  text-align: center;
  background:white;
  transition: all 0.3s;
  cursor: pointer;

  &--selected {
    background:white;
    border-bottom:1px solid white;
    border-top: $color-primary solid 2px;
    box-shadow: 0px 0px 20px 1px rgb(221, 221, 221);
    font-size: 1.5rem;
    color: $color-primary;
  }

  // &:hover {
  //   box-shadow: 13px 0px 20px 1px rgb(221, 221, 221);
  //   font-size: 1.5rem;
  //   color: white;
  //   background: $color-becode-primary-light ;
  // }
}

.editorButton {
  padding: 0 80px;
  border: none;
  &:hover{
    background-color:white;
    color:black;
  }
  &__saveButton {
    margin-left: auto;
    border-left: 1px solid $color-grey-light-3;
    border-right: 1px solid $color-grey-light-3;
  }
}

#textareacontainer,
.textarea,
#textareawrapper,
#iframecontainer,
#iframe,
#iframewrapper,
iframe {
  height: 100%;
  width: 100%;
}

#iframewrapper {
  position: relative;
}

iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#textareawrapper {
  position: relative;
}

.overlay {
  &__editor {
    position: absolute;
    background-color: #333333;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.CodeMirror {
  height: 100%;
  font-size: 14px;
}

.emmet-abbreviation-preview {
  z-index: 9;
}

.cm-qualifier{
  color: #D8A88A;
}
