// top navigation
header {
  background-color: $color-becode-secondary-light;
  background-color: darken($color-grey-light-1,10);
  background-color: white;
  position: relative;
  z-index: 11;
  box-shadow: 0 -0.4rem 0.9rem 0.2rem darken(#676778,20);

}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0 6rem;
  height: var(--nav-height);
  max-height: none;

  &__logo {
    background-image: url("../img/locdLogo-rect.svg");
    display: inline-block;
    height: 6rem;
    width: 15rem;
    //outline:1px red solid;
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;

    &:hover,
&:focus,
&:active {
	-webkit-animation-name: buzz;
	animation-name: buzz;
	-webkit-animation-duration: 0.15s;
	animation-duration: 0.15s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;

    @media (max-width: 1000px) {
      display: none;
    }

    & > * {
      margin-left: 40px;
    }
    a:hover, a:current{
      text-decoration: underline;

    }
    &--hamburger {
      background-color: #15141f;
      text-decoration: none;
      padding-top: 25px;
      display: none;
      position: absolute;
      width: 100%;
      z-index: 1;
      transform: translateY(-500px);
      transition: 0.5s transform ease-in-out;

      li {
        padding: 20px;
      }

      @media (max-width: 1000px) {
        display: block;
      }

      &.burger--active {
        transform: translateY(0px);
      }
    }
  }

  &__backlayer {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 10;
    // background-image: linear-gradient(
    //   to right,
    //   $color-becode-primary-dark,
    //   $color-becode-primary-light
    // );
    top: 25px;
  }
}

// burger menu
.menu__icon {
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  display: none;
}

.nav__icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.nav__icon:before,
.nav__icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.nav__icon:before {
  top: 5px;
}

.nav__icon:after {
  top: -5px;
}

/* menu btn */

.menu__btn {
  display: none;
}

.menu__btn:checked ~ .menu__icon .nav__icon {
  background: transparent;
}

.menu__btn:checked ~ .menu__icon .nav__icon:before {
  transform: rotate(-45deg);
}

.menu__btn:checked ~ .menu__icon .nav__icon:after {
  transform: rotate(45deg);
}

.menu__btn:checked ~ .menu__icon:not(.steps) .nav__icon:before,
.menu__btn:checked ~ .menu__icon:not(.steps) .nav__icon:after {
  top: 0;
}

@media (max-width: 1000px) {
  .menu__btn:checked ~ .nav__menu {
    height: 100%;
    max-height: 240px;
    transition: all 0.2s ease-out;
  }
  .menu__icon {
    display: block;
  }
}

//dropdown menu for viewport
.dropdown {
  position: relative;
  display: inline-block;
  width: 90%;

  &__btn {
    background-color: darken($color-grey-dark-4,30);
   // background-color: $color-becode-secondary-light;
    //background-color:white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    width: 100%;
    text-align: start;

    &:hover {
      background-color: #444444;
      //background-color: $color-becode-primary-light;

    }
  }

  &__list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;

    & > * {
      color: black;
      text-decoration: none;
      display: block;
    }

    li {
      a {
        display: block;
      }
    }
  }
}

.drop {
  &__topic {
    font-weight: 600;
    font-size: 18px;
    position: relative;
    padding: 7px 16px;

    &::after {
      content: "";
      display: inline-block;
      height: 2px;
      width: 100%;
      background-color: $color-grey-light-3;
      position: absolute;
      bottom: -0px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__chapter {
    font-weight: bold;
    font-size: 15px;
    padding: 7px 16px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.02);
  }

  &__sub {
    padding: 5px 40px;
    font-weight: bold;
    font-size: 15px;
    //color: rgb(70, 70, 70);
    color: #111;
    box-shadow: -100px 10px 10px rgba(0, 0, 0, 0.02);
  }

  &__exercise {
    color: black;
    width: 100%;
    padding: 11px 35px;

    &:hover:not(.current),
    &--sub:hover:not(.current) {
      background-color: $color-grey-light-3;
    }

    &--sub {
      color: black;
      width: 100%;
      padding: 5px 60px;
    }
  }
}

.show {
  display: block;
}

.current {
  background: $color-grey-dark-3;
  //background-color: $color-becode-primary-light;
  color: white;
}

> button:first-child {
  margin-right: 1rem;
}
.disabled {
  pointer-events: none;
  cursor: default;
  color: grey;
}

.view-navigation {
  width: 100%;
  text-align: center;

  > button {
    display: inline-block;
    padding: 1rem 4rem;
    color: $color-grey-dark;
    margin: 0 1rem 1rem 0;
    border-radius: 0.3rem;
    text-decoration: none;

    @media only screen and (max-width: 550px) {
      display: block;
      margin: 0.4em auto;
      width: 100%;
      padding: 1rem 2rem;
    }
  }
}



@-webkit-keyframes buzz {
  50% {
      -ms-transform: translateX(3px) rotate(2deg);
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -ms-transform: translateX(-3px) rotate(-2deg);
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes buzz {
  50% {
    -ms-transform: translateX(3px) rotate(2deg);
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -ms-transform: translateX(-3px) rotate(-2deg);
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
