:root{
    --nav-height:7rem;
    --sidebar-large-w:48rem;
}


//COLORS

$color-primary: #FF5606;
$color-primary-light: rgb(255, 141, 88);
$color-primary-dark:rgb(228, 72, 0);

$color-secondary-light:#FF01C8;
$color-secondary-dark:rgb(161, 18, 130);

$color-grey-light-1:#f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: rgb(209, 209, 209);

$color-grey-dark: #777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$default-font-size:1.6rem;

