
.editor{
  height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;

  &__input,&__output{
    height: 50%;
  }
  
}

.direct-row{
  flex-direction: row;
}

.sized{
    height: 100vh;
    width: 100vw;
}

.input,.output{
  &__tab{
    background-color: rgb(243, 243, 243);
    display: flex;
    // padding:2rem 20px;
    overflow: hidden;
    height: 6rem;
  }

  &__container{
    height:calc(100% - 6rem);
  }
}


.tab{
  padding:2rem 20px 1rem 20px;
  font-size: 1.4rem;
  border-right: 1px solid rgba(236, 236, 236, 0.979);
  border-bottom: solid 1px rgba(236, 236, 236, 0.979);
  
  width: 12rem;
  text-align: center;
  transition: all .9s;
  cursor: pointer;

  &--selected{
    border-bottom: $color-primary solid 2px;
    box-shadow: 13px 0px 20px 1px rgb(221, 221, 221);
    font-size: 1.5rem;
    color:$color-primary;
  }

  &:hover{
    box-shadow: 13px 0px 20px 1px rgb(221, 221, 221);
    font-size: 1.5rem;
    color:$color-primary;
  }
}

#textareacontainer, .textarea, #textareawrapper , #iframecontainer,#iframe
,#iframewrapper,iframe{
  height: 100%;
  width: 100%;
}

.CodeMirror{
      padding:10px ;
      height: 100%;
      
    font-size: 14px;
  }





// .editor{
  //   height:calc(100vh - var(--nav-height));
  // }
  // .CodeMirror{
  //     padding:10px ;
  //     height: 100%;
      
  //   font-size: 16px;
  // }

  // #container {
  //   display: flex;
  //   flex-direction: column;
  //   background-color:#f1f1f1;
  //   width:100%;
  //   height:calc(100vh - var(--nav-height));
  //   overflow:auto;
  // }
  // #textareacontainer{
  //   height: 50%;
  // }
  // #iframecontainer{
  //   height: 50%;
  // }
 
  // .textarea, #iframe {
  //   height:100%;
  //   width:100%;
  //   // padding-bottom:10px;
  //   // padding-top:1px;
  // }
 

  // #textareawrapper {
  //   width:100%;
  //   height:100%;
  //   background-color: #ffffff;
  //   position:relative;
  //   box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  // }
  // #iframewrapper {
  //   width:100%;
  //   height:100%;
  //   -webkit-overflow-scrolling: touch;
  //   background-color: #ffffff;
  //   box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  // }
  // #textareaCode {
  //   background-color: #ffffff;
  //   font-family: consolas,"courier new",monospace;
  //   font-size:15px;
  //   height:100%;
  //   width:100%;
  //   // padding:8px;
  //   resize: vertical;
  //   border:1px solid;
  //   line-height:normal;    
  // }
  // .CodeMirror.cm-s-default {
  //   line-height:normal;
  //   padding: 4px;
  //   height:100%;
  //   width:100%;
  // }
  // #iframeResult, #iframeSource {
  //   background-color: #ffffff;
  //   height:100%;
  //   width:100%;  
  // }
  // #stackV {background-color:#999999;}
  // #stackV:hover {background-color:#BBBBBB !important;}
  // #stackV.horizontal {background-color:transparent;}
  // #stackV.horizontal:hover {background-color:#BBBBBB !important;}
  // #stackH.horizontal {background-color:#999999;}
  // #stackH.horizontal:hover {background-color:#999999 !important;}

  // #textarea.horizontal{
  //   height:100%;
  //   padding-left:10px;
  //   padding-right:10px;
  // }
  // #iframe.horizontal{
  //   height:100%;
  //   padding-right:10px;
  //   padding-bottom:10px;
  //   padding-left:10px;  
  // }

  // #tryitLeaderboard {
  //   overflow:hidden;
  //   text-align:center;
  //   margin-top:5px;
  //   height:90px;
  // }
  //   .w3-dropdown-content {width:350px}
    
  
  // .fa {
  //   display:inline-block;
  //   font:normal normal normal 14px/1 FontAwesome;
  //   font-size:inherit;
  //   text-rendering:auto;
  //   -webkit-font-smoothing:antialiased;
  //   -moz-osx-font-smoothing:grayscale;
  //   transform:translate(0,0);
  // }
  // .fa-2x {
  //   font-size:2em;
  // }
  // .fa-home:before {content: '\e800'; }
  // .fa-save:before {content: '\e804'; }
  // .fa-rotate:before {content: '\e813'; }
  // .fa-menu:before { content: '\f0c9'; }
  // .fa-adjust:before { content: '\e80b'; }
  // .loader {
  //     border: 6px solid #f3f3f3; /* Light grey */
  //     border-top: 6px solid #3498db; /* Blue */
  //     border-radius: 50%;
  //     width: 60px;
  //     height: 60px;
  //     animation: spin 2s linear infinite;
  // }
  // #saveLoader {
  //     margin:20px;
  // }
  
  // @keyframes spin {
  //     0% { transform: rotate(0deg); }
  //     100% { transform: rotate(360deg); }
  // }
  
  // body.darktheme {
  //   background-color:rgb(40, 44, 52);
  // }
  // body.darktheme #tryitLeaderboard{
  //   background-color:rgb(40, 44, 52);
  // }
  // body.darktheme .trytopnav{
  //   background-color:#616161;
  //   color:#dddddd;
  // }
  
  // body.darktheme .trytopnav a {
  //   color:#dddddd;
  // }
  // body.darktheme ::-webkit-scrollbar {width:12px;height:3px;}
  // body.darktheme ::-webkit-scrollbar-track-piece {background-color:#000;}
  // body.darktheme ::-webkit-scrollbar-thumb {height:50px;background-color: #616161;}
  // body.darktheme ::-webkit-scrollbar-thumb:hover {background-color: #aaaaaa;}


  // #backtotutcontainer {
  //   position: absolute;
  //   bottom: 0;
  //   background-color: #f1f1f1;
  //   width: 100%;
  //   height: 50px;
  //   padding-left: 10px;
  //   color: #555;
  // }

  // .w3-btn:hover.w3-blue,
  // .w3-btn:active.w3-blue {
  //   background-color: #0d8bf2 !important;
  //   color: #fff !important;
  //   box-shadow: none;
  // }

  // body.darktheme #backtotutcontainer {
  //   background-color: #616161;
  //   color: #ddd;
  // }