/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
  border-radius: 10px;
}

.gutter {
  cursor: n-resize;
  background-color: white;
  box-shadow: inset 0px 0px 7px -1px rgba(0, 0, 0, 0.35);
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: $color-grey-dark-2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
}

pre {
  overflow: auto;
}
